{% set params = {id: item.id, (activeUrlParamName): item.id} %}


<a class="btn btn-dark" href="{{ path(routeEdit, {id: item.id}) }}">
    <i class="cil-pencil"></i>
</a>


<a class="btn btn-danger" href="{{ path(routeDelete, params) }}">
    <i class="cil-x"></i>
</a>
