{% extends 'base-admin.html.twig' %}

{% block title %}
    Delete Item
{% endblock %}

{% block h1 %}
    Delete Item
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="alert alert-warning">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <hr>
            <a href="{{ path(returnUrl, params) }}" >Cancel</a>
            <button type="submit" class="btn btn-danger" onclick="">Delete</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}