<form action="">
    <div>
        <div class="float-left">
            <input type="text" name="w" value="{{ app.request.get('w') }}" class="form-control">
        </div>
        <div class="float-left ml-2">
            <button class="btn btn-info "><i class="cil-search"></i></button>
        </div>
        <div class="float-left ml-2">
            <a href="{{ searh_from_return_url }}" class="btn btn-light "><i class="cil-brush-alt"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</form>

