{% set searchUrlParamName = constant('MartenaSoft\\Common\\Library\\CommonValues::SEARCH_URL_PARAM_NAME') %}
<form action="">
    <div>
        <div class="float-left">
            <input type="text" name="{{ searchUrlParamName }}" value="{{ app.request.get(searchUrlParamName) }}" class="form-control">
        </div>
        <div class="float-left ml-2">
            <button class="btn btn-info "><i class="cil-search"></i></button>
        </div>
        <div class="float-left ml-2">
            <a href="{{ searh_from_return_url }}" class="btn btn-light "><i class="cil-brush-alt"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</form>

